*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent), url(images/background.png);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

#container_addmember{
    position: relative;
    width: 40%;
    border-radius: 6px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

#container_addmember header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

#container_addmember header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 40px;
    border-radius: 8px;
    background-color: #363853;
}

#container_addmember form{
    position: relative;
    margin-top: 1em;
    min-height: 70%;
    background-color: #fff;
    overflow: hidden;
} 

#container_addmember form .fields form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#StudName {
    pointer-events: none ;
}

form .fields .input-field{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 4px 0;
}

.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field input :focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

.input-field input[type="date"]{
    color: #707070;
}

.input-field input[type="date"]:valid{
    color: #333;
}
#container_addmember form button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    color: #f9f9fa;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #363853;
    transition: all 0.3s linear;
    cursor: pointer;
}

#container_addmember form .btnText{
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 750px) {
    #container_addmember form form{
        overflow-y: scroll;
    }
    #container_addmember form::-webkit-scrollbar form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}